<div class="detailed-page section">
  <div class="wrapper">
    <div class="card-wrapper">
      <div class="card">
        <div class="card__picture">
          <div class="card__picture_img">img</div>
          <div class="card__picture_number">#num</div>
        </div>
        <div class="card__content">
          <div class="card__statistics">
            <div class="card__view-count">
              <span class="material-icons">
                visibility
              </span>
              <span>{{'viewCount'}}</span>
            </div>
            <div class="card__like">
              <span class="material-icons">
                thumb_up
              </span>
              <span>{{'likeCount'}}</span>
            </div>
            <div class="card__dislike">
              <span class="material-icons">
                thumb_down
              </span>
              <span>{{'dislikeCount'}}</span>
            </div>
            <div class="card__comment">
              <span class="material-icons">
                question_answer
              </span>
              <span>{{'comment'}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
