<div class="user-info">
  <div [appLogStatus]='userStatus' class="user-info__info btn" *ngIf="userStatus">{{'You are log-in'}} </div>
  <div [appLogStatus]='userStatus' class="user-info__info btn" *ngIf="!userStatus">{{'You have to log-in'}}</div>
  <span class="material-icons">
    account_circle
  </span>
  <div class="admin">
    <div class="admin__admin-btn btn" mat-icon-button>
      <a class="admin__admin-link" (click)='goToAdminPage()' routerLink="">
        admin
      </a>
    </div>
  </div>
  <div class="exit">
    <div class="exit__exit-btn btn" mat-icon-button>
      <a class="exit__exit-link" (click)='exitFromApp("logout")' routerLink="">
        exit
      </a>
    </div>
  </div>

</div>
