@import '../../../SCSS/variable.scss';
.admin-page {
  display: flex;
  flex-direction: column;
  height: 84vh;
}
.wrapper {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;


}
