<div class="admin-page section">
  <div class="wrapper">
    <div class="admin-box">
      <button class="admin-box__btn-home" (click)="goHome()" mat-icon-button>
        <mat-icon class="admin-box__icon-home">home</mat-icon>
      </button>
      <form class="admin-form" [formGroup]="createCardForm" (ngSubmit)="createCard()">
        <h2 class="admin-form__main-title">Create new card</h2>
        <mat-form-field class="admin-form__form">
          <mat-label class="admin-form__title">{{inputArea['title']}}</mat-label>
          <input matInput class="admin-form__input" formControlName="title" type="text">
          <mat-error *ngIf="createCardForm.controls['title'].hasError('required')">
            Please enter a title
          </mat-error>
          <mat-error
            *ngIf="createCardForm.controls['title'].value.length >0 && createCardForm.controls['title'].value.length < 3">
            The title is too short
          </mat-error>
          <mat-error *ngIf="createCardForm.controls['title'].value.length >= 20">
            The title is too long
          </mat-error>
        </mat-form-field>
        <mat-form-field class="admin-form__form">
          <mat-label class="admin-form__title">{{inputArea['description']}}</mat-label>
          <input matInput class="admin-form__input" formControlName="description" type="text">
          <mat-error *ngIf="createCardForm.controls['description'].hasError('required')">
            Please enter a description
          </mat-error>
          <mat-error
            *ngIf="createCardForm.controls['description'].value.length >0 && createCardForm.controls['description'].value.length < 3">
            The title is too short
          </mat-error>
          <mat-error *ngIf="createCardForm.controls['description'].value.length > 20">
            The description is too long
          </mat-error>
        </mat-form-field>
        <mat-form-field class="admin-form__form">
          <mat-label class="admin-form__title">{{ inputArea['img']}}</mat-label>
          <input matInput class="admin-form__input" formControlName='img' type="text" autocomplete="off">
          <mat-error *ngIf="createCardForm.controls['img'].hasError('required')">
            Please enter a link to the image
          </mat-error>
          <mat-error *ngIf="createCardForm.controls['img'].hasError('pattern')">
            The image link is invalid
          </mat-error>
        </mat-form-field>
        <mat-form-field class="admin-form__form">
          <mat-label class="admin-form__title">{{inputArea['link']}}</mat-label>
          <input matInput class="admin-form__input" formControlName="link" type="text" autocomplete="off">
          <mat-error *ngIf="createCardForm.controls['link'].hasError('required')">
            Please enter a link to the video
          </mat-error>
          <mat-error *ngIf="createCardForm.controls['link'].hasError('pattern')">
            The video link is invalid
          </mat-error>
        </mat-form-field>
        <mat-form-field class="admin-form__form">
          <mat-label class="admin-form__title">{{inputArea['date']}}</mat-label>
          <input matInput class="admin-form__input" formControlName="date" type="date"
            max="{{today | date:'yyyy-MM-dd'}}">
          <mat-error *ngIf="createCardForm.controls['date']">
            Please enter a creation date
          </mat-error>
        </mat-form-field>
        <button class="admin-form__btn" [disabled]="createCardForm.invalid" mat-flat-button color="accent"
          type="submit">{{inputArea['btn']}}</button>
      </form>
    </div>
  </div>
</div>
