@import '../../../SCSS/variable.scss';
.wrapper {
  height: 84vh;
  display: flex;
  justify-content: center;


}

.admin-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  &__btn-home {
    width: 5rem;
    margin: 1rem 0 1rem 0;
    }

   &__icon-home  {
  color: $mainBlue;
  font-size: 2rem;
   }
}
.admin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 1rem;
  background-color: #F2F2F2;

  &__form {
      display: flex;
      flex-direction: column;
      color: #828282;
      font-size: 10px;
      line-height: 12px;

   }

   &__title {
    font-size: 1rem;
    align-self: start;
    padding: 1rem;
    width: 100%;
    color: #828282;

   }

   &__input {
    padding: 0.5rem;
    height: 1.5rem;
    width: 100%;
    border-radius: 0.5rem;
    color:#828282;
    background: #E0E0E0;
    font-size: 1rem;

    }

    &__btn {
      align-self: end;
      margin-top: 1rem;
      border-radius: 0.5rem;
      background-color: $mainBlue;
      color: aliceblue;

    }
  }
  .admin-form__btn:disabled{
    background-color:  #2e7de870;
  }
